<h1>Callouts</h1>

<p>callouts from <%=@thisuser.name %></p>

<ul><% @thisuser.callouts.reverse.each do |c| %>
<div class="jumbotron">
         <div><%= image_tag c.user.profilepic.url(:thumb) %></div>
        <h1 class="display-3"><%= c.name %></h1>     
        <p class="lead"><%= c.body %></p>
        <hr class="my-4">
        <p class="lead"<%= 'from ' + time_ago_in_words(c.created_at) + ' ago' %></p>
    </div>
    <% end %>
</ul>


d