<h1>callouts from <%=@thisuser.name %></h1>

<div class="jumbotron">
    <div>
        <%= image_tag @thisuser.profilepic.url(:medium) %>
        <%= @thisuser.name %>
    </div>
    
    <% @thisuser.callouts.reverse.each do |c| %>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="<%= c.calloutpic.url(:medium) %>" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><%= c.name %></h4>
                <p class="card-text"><%= c.body %></p>
                <p><%= 'from ' + time_ago_in_words(c.created_at) + ' ago' %></p>
                <a href="#" class="btn btn-warning">delete</a>
            </div>
        </div>
    <% end %>
</div>


