<h1>Callouts</h1>

<p>callouts from <%=@thisuser.name %></p>

<!-- <ul><% @thisuser.callouts.reverse.each do |u| %>
    <li><%= u.name %></li>
    <li><%= u.body %></li>
    <li><%= 'from ' + time_ago_in_words(u.created_at) + ' ago' %></li>
    
    <br>
    <% end %>
</ul> -->


<ul><% @thisuser.callouts.reverse.each do |u| %>
<div class="jumbotron">
        <h1 class="display-3"><%= u.name %></h1>
        <p class="lead"><%= u.body %></p>
        <hr class="my-4">
        <p class="lead"<%= 'from ' + time_ago_in_words(u.created_at) + ' ago' %></p>
    </div>
    <% end %>
</ul>