<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'pryx', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
            
            <li class="nav-item">
            <%= link_to 'new', new_callout_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'callouts', callouts_path, class: 'nav-link' %>
            <li class="nav-item">
                <%= link_to 'account', edit_user_path(current_user), class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'logout', logout_path, class: 'nav-link', method: 'delete' %>
                    </li>
            <li class="nav-item" id="current-user"><%= current_user.name %></li>
            
            </li>


        <% else %>
            <li class="nav-item">
                <%= link_to 'Log In', new_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"></li>
                <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"></li>
            <%= link_to "Callouts", callouts_path, class: 'nav-link' %>
        </li>
            
        </ul>
        <% end %>
    </div>
</nav>